.containerNav{
background-color: white;
border-bottom: #ffe881 5px solid !important;
}
button{
    font-weight: 700;
}
.botonLogin{
    background-color: #9ed7ce;
    -webkit-box-shadow: -5px 4px 0px 2px  #76B2A6;
    -moz-box-shadow: -5px 4px 0px 2px  #76B2A6;
    box-shadow: -5px 4px 0px 2px  #76B2A6;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    &:hover{
        background-color:#ffe881;
        color: black;
        border: solid black 1px;
    }
}
.botonReg{
    background-color: #9f9bea;
    -webkit-box-shadow: -5px 4px 0px 2px  #7070C4;
    -moz-box-shadow: -5px 4px 0px 2px  #7070C4;
    box-shadow: -5px 4px 0px 2px  #7070C4;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    &:hover{
        background-color:#ffe881;
        color: black;
        border: solid black 1px;
    }
}
.nav-link{
    font-weight: 700;
}
.borderNav{
    border-top: #ffe881 5px solid !important;
}
