button{
    font-weight: 700;
}
.botonLogin{
    background-color: #9ed7ce;
    color: white;
    border-radius: 20px;
}
.botonReg{
    background-color: #9f9bea;
    color: white;
    border-radius: 20px;
}
.nav-link{
    font-weight: 700;
}