<div class="container-fluid containerHome d-flex flex-column m-md-0 m-lg-4 m-sm-0">
  <div class="d-flex flex-column  justify-content-center my-2">
    <div class="col-md-6 mb-3 align-self-center">
      <form class="d-flex " role="search">
        <input class="form-control me-2 searchBar" type="search" placeholder="Buscar ubicación" aria-label="Search">
        <button class="btn btnSearch me-3" type="submit">Buscar</button>
      </form>
    </div>
    <div class="col-md-12 my-md-2 d-flex justify-content-center">
      <div class="dropdown d-md-none">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btnCategory" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </button>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="#">Ilustración</a></li>
            <li><a class="dropdown-item" href="#">Diseño de personajes</a></li>
            <li><a class="dropdown-item" href="#">Arte digital</a></li>
            <li><a class="dropdown-item" href="#">Diseño gráfico</a></li>
            <li><a class="dropdown-item" href="#">Arte 3D</a></li>
            <li><a class="dropdown-item" href="#">UI/UX</a></li>
            <li><a class="dropdown-item" href="#">Tatuaje</a></li>
            <li><a class="dropdown-item" href="#">Diseño de producto</a></li>
            <li><a class="dropdown-item" href="#">Cómic</a></li>
            <li><a class="dropdown-item" href="#">Fanzine</a></li>
          </ul>
        </div>
      </div>
      <div class="d-none d-md-block text-center">
          <button class="btn btnCategory mx-3 my-md-2">Ilustración</button>
          <button class="btn btnCategory mx-3 my-md-2">Diseño de personajes</button>
          <button class="btn btnCategory mx-3 my-md-2">Arte digital</button>
          <button class="btn btnCategory mx-3 my-md-2">Diseño gráfico</button>
          <button class="btn btnCategory mx-3 my-md-2">Arte 3D</button>
          <button class="btn btnCategory mx-3 my-md-2">UI/UX</button>
          <button class="btn btnCategory mx-3 my-md-2">Tatuaje</button>
          <button class="btn btnCategory mx-3 my-md-2">Diseño de producto</button>
          <button class="btn btnCategory mx-3 my-md-2">Cómic</button>
          <button class="btn btnCategory mx-3 my-md-2">Fanzine</button>
      </div>
    </div>
    
  <div class="d-flex flex-lg-row flex-column">
    <div class="row col-lg-6 col-12 g-lg-3 ms-sm-0 my-4 containerArtists order-md-2 order-lg-1">
        <div class="col-xxl-4 col-md-6 col-12 mb-3">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"  focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <a href="#" class="stretched-link text-decoration-none">
                <h6 class="card-text ">Nombre</h6>
              </a>
              <small class="card-text">Categoría</small>
            </div>
          </div>
        </div>
          <div class="col-xxl-4 col-md-6 col-12 mb-3">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"  focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <a href="#" class="stretched-link text-decoration-none">
                <h6 class="card-text ">Nombre</h6>
              </a>
              <small class="card-text">Categoría</small>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-12 mb-3">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"  focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <a href="#" class="stretched-link text-decoration-none">
                <h6 class="card-text ">Nombre</h6>
              </a>
              <small class="card-text">Categoría</small>
            </div>
          </div>
        </div>      
      </div>
      <div id="map" class="col-lg-6 col-12 my-lg-4 d-flex justify-content-center align-items-center containerMap d-none d-md-block order-md-1 order-lg-2">
      </div>
   </div>
</div>
