.containerHome{
    margin-left: 2rem;
    height: 100vh;
}
.containerBtn{
    margin-top: 5rem;
}
.containerArtists{
    margin-right:3rem;
}
.containerMap{
    margin: 0;
    height: 80vh;
}

#map{
    // height: 100vh;
}
button{
    font-weight: 700;
}
.btnCategory{
    background-color: #9f9bea;
    color: white;
    border-radius: 20px;
    &:hover{
        background-color: #7070C4;
    }
}
.btnSearch {
    background-color: #9ed7ce;
    color: white;
    border-radius: 20px;
    &:hover{
        background-color: #76B2A6;
    }
}

.searchBar{
    border-radius: 20px;
}
.lobsterFont{
    font-family: 'Lobster', cursive;
}
.card{
    background-color: #FDFAAF;
}
a{
    color: black !important;
}


// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {  

}

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) and (min-width:576px) {  

}

// Large devices (desktops, 992px and up)
@media screen and (max-width: 992px) and (min-width: 768px) {  
.containerMap{
    height: 25vh;
}

}

// X-Large devices (large desktops, 1200px and up)
@media screen and (max-width: 1200px) and (min-width: 992px)  {  


}

@media screen and (max-width: 1400px) and (min-width: 1200px) { 
    
 }


