.containerHome{
    padding: 2rem;
    margin-left: 2rem;
    height: 100vh;
}
.containerBtn{
    margin-top: 5rem;
}
.containerArtists{
    margin-right:3rem;
}
.containerMap{
    margin: 0;
}

#map{
    // height: 100vh;
}
button{
    font-weight: 700;
}
.btnCategory{
    background-color: #9f9bea;
    color: white;
    border-radius: 20px;

}
.btnSearch {
    background-color: #9ed7ce;
    color: white;
    border-radius: 20px;
}

.searchBar{
    border-radius: 20px;
}