<div class="container-fluid cont-registro">
	<div class="row d-flex align-items-center justify-content-center">
    <div class="col-xxl-7 col-lg-7 col-md-6 col-sm-12 align-self-center">
      <img class="logo align-self-sm-center" src="../../../assets/img-login/AF_MEDICCI_LOGO_RGB.svg" alt="">
    </div>
		<div class="col-xxl-5 col-lg-5 col-md-6 col-sm-12 px-5 py-4 cont-form">
      <div class="mb-5">
        <h2>Inicio de sesión</h2>
        <span class="subtitle text-muted">¿Eres nuevo usuario? <a href="#">Crear una cuenta</a></span>
      </div>
			<form>
				<div class="form-group mb-3">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="form-group mb-3">
					<label for="password">Contraseña:</label>
					<input type="password" class="form-control" id="password">
				</div>
				<button type="submit" class="btn btn-continuar me-3">Continuar</button>
                <button class="btn btn-google">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Continuar con Google
                </button>
			</form>
		</div>
	</div>
</div>