<div class="container containerEdit border rounded d-flex justify-content-center my-4">
    <div class="col-6 d-flex flex-column align-items-center">
        <svg class="bd-placeholder-img rounded-circle my-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="18%" y="50%" fill="#eceeef" dy=".3em">Foto de perfil</text></svg>
        <div class="mb-3 align-items-center d-flex flex-column">
            <label for="exampleFormControlInput1" class="form-label">Foto de perfil</label>
            <input class="form-control form-control-sm selectFile" id="formFileSm" type="file">
          </div>

    </div>
    <div class="col-6">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
        </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Profesión</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <select class="form-select mb-3" aria-label="Default select example">
                <option selected>Categoría</option>
                <option value="1">Ilustración</option>
                <option value="2">Diseño de personajes</option>
                <option value="4">Arte digital</option>
                <option value="5">Diseño gráfico</option>
                <option value="6">Arte 3D</option>
                <option value="7">UI/UX</option>
                <option value="8">Tatuaje</option>
                <option value="9">Fabricación digital</option>
                <option value="10">Cómic</option>
                <option value="11">Fanzine</option>
              </select>
          <div class="mb-4">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btnCancel me-md-2" type="button">Cancelar</button>
            <button class="btn btnSave" type="button">Guardar</button>
          </div>
    </div>

</div>
