.containerEdit{
    padding: 3rem;
}
.btnCancel{
    background-color: #9ed7ce;
    color: white;
    border-radius: 20px;
}
.btnSave{
    background-color: #9f9bea;
    color: white;
    border-radius: 20px;
}
button{
    font-weight: 700;
}

.selectFile{
    background-color: #9ed7ce;
    color: white;
    border-radius: 20px;
}