.containerEdit{
    background-color: white;
    border: #ffe881 5px solid !important;
}
.img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  .btnCancel{
    background-color: #9ed7ce;
    -webkit-box-shadow: -5px 4px 0px 2px  #76B2A6;
    -moz-box-shadow: -5px 4px 0px 2px  #76B2A6;
    box-shadow: -5px 4px 0px 2px  #76B2A6;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    &:hover{
        background-color:#ffe881;
        color: black;
        border: solid black 1px;
    }
}
.btnSave{
    background-color: #9f9bea;
    -webkit-box-shadow: -5px 4px 0px 2px  #7070C4;
    -moz-box-shadow: -5px 4px 0px 2px  #7070C4;
    box-shadow: -5px 4px 0px 2px  #7070C4;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    &:hover{
        background-color:#ffe881;
        color: black;
        border: solid black 1px;
    }
}
button{
    font-weight: 700;
}
.form-control{
    border-radius: 20px;
    border: 1px solid black;
}
input[type=file]::file-selector-button {
    background-color:#9ed7ce;
    color: white;
    font-weight: 700;
    &:hover, :focus, :active, :visited {
        background-color: #76B2A6;
    }
  }
  .boldFont{
    font-weight: 700;
  }