.containerProfile{
    // padding:2rem;
}
.btnContact{
    background-color: #9f9bea;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    &:hover{
        background-color: #7070C4;
    }
}

button{
    font-weight: 700;
}
.lobsterFont{
    font-family: 'Lobster', cursive;
}
.card{
    background-color: #FDFAAF;
}
a{
    color: black !important;
}
