
<div class="container containerProfile justify-content-center d-flex flex-md-row flex-column">
  <div class="col-lg-3 mx-sm-5 my-5 d-flex justify-content-center ">
        <div class="card align-items-center" style="width: 18rem; padding:2rem;">
            <svg class="bd-placeholder-img rounded-circle my-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></svg>
            <div class="card-body text-center">
              <h4 class="card-title mb-2 boldFont">Nombre usuario</h4>
              <h5 class="card-title mb-4">Profesión</h5>
              <div class="d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <h6 class="card-title mb-4 ms-2">Ubicación</h6>
              </div>
              
              <button  class="btn btnContact mb-4" (click)="open(contactModal)">Contactar</button>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
          </div>
    </div>
    <div class="row col-md-9 g-3 my-5" >
      <div class="col-lg-4 col-md-6" *ngFor="let project of projects">
        <div class="card cardProject" (click)="openProject(projectModal, project)">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
            <image *ngIf="project.images && project.images.length > 0" [attr.href]="project.images[0]" class="imgProject"/>
            <rect *ngIf="!project.images || project.images.length == 0" width="100%" height="100%" fill="#55595c"/>
          </svg>
          <div class="card-body">
            <div>
              <h6 class="card-text boldFont">{{project.name}}</h6>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<ng-template #projectModal let-modal>
  <div class="modal-header ">
    <h4 class="modal-title boldFont" id="modal-basic-title">{{selectedProject?.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="p-3">
      <img *ngFor="let image of selectedProject?.images" [src]="image" class="img-fluid mb-2" alt="...">
    </div>
    <div class="p-3">
      <p>{{selectedProject?.description}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btnContact" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
<!-- <button class="btn btn-outline-primary" (click)="open(projectModal)">Launch demo modal</button> -->

<ng-template #contactModal let-modal>
  <div class="modal-header ">
    <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Email:</label>
        <input type="text" class="form-control" id="recipient-name">
      </div>
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Mensaje:</label>
        <textarea class="form-control" id="message-text"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btnCancel me-2" (click)="modal.close('Save click')">Cancelar</button>
    <button type="button" class="btn btnContact" (click)="modal.close('Save click')">Enviar</button>
  </div>
</ng-template>
